.contact__content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  // background: white;

  img {
    height: 40px;
  }
}



h2 {
  font-size: 34px;
  margin-bottom: 10px;
  text-transform: uppercase;
  @media screen AND (min-width: 980px) {
    font-size: 54px;
  }
}

a {
  text-decoration: none;
  color: black;
}
