footer {
  left:0;
  margin-top:90px;
  width: 100%;
  font-family: Elsie;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 300;
  span {
    margin-bottom: 10px;
  }


  img{
    height: 40px;
    width: 40px;
  }
  .footer__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 190px;

    .footer__social--one {
      height: 15px;
    }
    .footer__social--two {
      height: 25px;
    }
    .footer__social--three {
      height: 15px;
    }
  }
}
