.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;

  @media (min-width: 1080px) {
    align-items: center;

  }

  .logo {
    margin-top: 30px;
    height:60px;
    margin-left: 25px;
    z-index: 10000;

  }

  .menu {
    z-index: 1000;
    margin-top: 40px;
    height: 50px;
    width: 50px;
    cursor: pointer;

    @media (min-width:1020px) {
      display: none;
    }
  }

.menu-icon,
.menu-icon::after {
  width: 30px;
  height: 1px;
  background: white;
}


.menu-icon::after {
  content: '';
  display: block;
}

.menu-icon::after {
  transform: translateY(8px);
  width: 20px;
}

}

.menu-close {
  z-index: 100;
  position: fixed;
  background: #090909;
  height:100vh;
  width: 100vw;
  transform: translate(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s;
  
  @media (min-width:1020px) {
  transform: translateX(0);
    background: none;
  height: auto;
  justify-content: flex-end;
  // transform: translateY(30px);
  padding-top:30px;
  position: initial;
  width: 435px;
  }
}

.menu-open {
  transform: translateX(0px);
 
}

.items-menu {
  a {
    font-family: Elsie;
    color:white;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }

  li {
    font-size: 38px;
    padding-top:40px;
    @media (min-width:1020px) {
      display: inline;
      margin-right: 50px;
      font-size: 18px;
      }
  }

}
