@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes line {
  from {
    width: 0;
  }

  to {
    width: 70px;
  }
}

@keyframes specs {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes get {
  from {
    transform: translate(-100%)
  }

  to {
    transform: translate(0)

  }
}
.logo a {
  font-family: MANIFESTO;
  line-height: normal;
  font-size: 15px;
  color: #eeefef;
  margin-top: 30px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  animation: appear 1400ms;
  @media screen and (min-width: 980px) {
    margin-left: 30px;
  }
}
.header--special {
  justify-content: space-between;
}

.container__projets {
  position: relative;
  margin: 30px 10px 30px 10px;
  height: auto;
  @media screen and (min-width: 980px) {
    margin: 30px;
  }
}

.next a{
  position: absolute;
  margin-top: 20px;
  right: 0;
  margin-bottom: 50px;
  color: white;
  font-family: Manifesto;
  font-size: 14px;
  @media screen and (min-width:980px){
    font-size: 17px;
    }
}

.previous a{
  position: absolute;
  margin-bottom: 50px;
  left: 0;
  margin-top: 20px;
  color: white;
  font-family: Manifesto;
  font-size: 13px;

  @media screen and (min-width:980px){
  font-size: 17px;
  }
}



.title__project {
  color: white;
  font-size: 23px;
  font-family: Manifesto;
}
.text__project {
  line-height: 112%;
  color: #525356;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 980px) {
    width: 700px;
  }
}
.role {
  margin-top: 30px;
  font-family: garamond-premier-pro-display, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
}

.line {
  height: 1px;
  width: 70px;
  background-color: white;
  display: inline-block;
  transform: translateY(-4px);
  animation: line 1s;
}

.role--specs {
  animation: specs 2s;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  img {
    width: 60%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.466) 0 0 10px;
    animation: get 2s;
  }
}

.project--noShadow {
  img {
    box-shadow: 0 0 0;
  }
}

.link_project a{
  color: rgba(255, 255, 255, 0.37);
  font-size: 13px;
  display: block;
}
