::selection {
  color: #d2d2d2;
}

@keyframes appear__left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "Manifesto";
  src: url("../font/MANIFESTO.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Abel");

html {
  cursor: url(../assets/cursor.png) 8 8, auto;
}
body {
  background: #191b22;
  // background-image: url("../assets/bg.png");
  background-repeat: repeat;
  font-family: "Abel", sans-serif;
  transition: background-color 300ms;
}
a {
  cursor: url(../assets/cursor.png) 11 11, auto;
}

header {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

.header__social {
  margin-right: 25px;
  display: flex;
  margin-top: 30px;

  img:not(.first) {
    margin-left: 15px;
  }
}

.home {
  display: flex;
  width: 100vw;
  height: calc(100vh - 150px);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .home__bigTitle {
    color: white;
    text-transform: uppercase;
    font-family: Manifesto;
    font-size: 30px;
    @media screen and (min-width: 980px) {
      font-size: 40px;
    }
  }

  .home__presentation {
    color: #525356;
    width: 250px;
    text-align: center;
    margin-top: 15px;
    line-height: 120%;
    // animation: appear__left 8s;
    @media screen and (min-width: 980px) {
      width: 500px;
      font-size: 18px;
    }
  }

  .home__specs {
    margin-top: 5px;
    color: #525356;
    font-size: 15px;
    @media screen and (min-width: 980px) {
      font-size: 17px;
      animation: appear__left 5s;
    }
  }

  .home__bigTitle {
    animation: appear__left 2s;
  }
}

.picture--animated {
  animation: picture__one 2s;
}

.picture--two {
  animation: picture__two 2s;
}

.picture--three {
  animation: picture__three 2s;
}
