
.projets__citation {
  padding: 20px;
  text-align: center;
  font-size: 24px;
  
}

.projets__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  animation: appear 2s;
  a {
    color: white;
    text-decoration: none;
  }
  @media (min-width: 1020px) {
    // flex-direction: row;
    flex-flow: row wrap;
  } 
}

.projets__container__items {
  height: 300px;
  width: 100vw;
  background: #4f4f4f; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #4f4f4f 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #4f4f4f 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #4f4f4f 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  // background-image: url(../assets/mobile/nespresso.png);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  text-shadow: rgba(0, 0, 0, 0.541) 0 0 6px;
  text-align: center;



  @media (min-width: 1020px) {
    height: 210px;
    width: 510px;
    margin-right: 33px;
    margin-top: 33px;
    border-radius: 15px 2px 15px 2px;
    

  }

  
}

.projets__container__items--two {
  background: #ffffff; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #868686 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#868686 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ffffff 0%,#868686 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#868686',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.projets__container__items--three {
  background: #ce3c37; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ce3c37 0%, #431412 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ce3c37 0%,#431412 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ce3c37 0%,#431412 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce3c37', endColorstr='#431412',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

