.projets__citation {
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

.projets__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  a {
    color: white;
    text-decoration: none;
  }
  @media (min-width: 1020px) {
    // flex-direction: row;
    flex-flow: row wrap;
  } 
}

.projets__container__items {
  height: 300px;
  width: 100vw;
  background: greenyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 47px;
  text-shadow: rgba(0, 0, 0, 0.541) 0 0 6px;
  text-align: center;

  @media (min-width: 1020px) {
    height: 190px;
    width: 490px;
    margin-right: 33px;
    margin-top: 33px;
    border-radius: 15px 2px 15px 2px;

  }
}

.projets__container__items--two {
  background:thistle;
}
.projets__container__items--three {
  background:crimson;
}